AddDefaultCharset Off

<IfModule mod_php8.c>
    php_flag display_errors off
    php_value max_input_vars 10000
</IfModule>

<IfModule mod_dir.c>
    DirectoryIndex index.php index.htm index.html
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteBase /

    #RewriteRule modules\/.*?\/(config|controller|model)\/ - [F,L]
    RewriteRule core\/.* - [F,L]

    RewriteRule ^(robots.txt)$ $1 [L]

    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

#Запрещаем открывать файлы напрямую
<Files ~ "(\.inc\.php|\.tpl|\.tpl\.php|\.auto\.php|\.auto\.xml)$">
    Order allow,deny
    Deny from all
</Files>