.admin-style .ai-btn-group {
    margin-left:12px;
    display:inline-flex;
}

.admin-style .tox-tinymce {
    z-index:0;
}

.admin-style .ai-btn-group .ai-gen {
    padding: 0;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    margin-left: 12px;
    background: none;
    border: 1px solid #ddd;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.admin-style .ai-btn-group .ai-gen::before {
    content:'';
    width:24px;
    height:24px;
    display:inline-flex;
    background:url(../../img/generate.svg) no-repeat center center;
}

.admin-style .ai-btn-group .ai-gen.main::before {
    background-image:url(../../img/generate-all.svg);
}

.admin-style .ai-btn-group .dropdown-toggle {
    height: 35px;
    border-radius: 0 5px 5px 0;
}

.admin-style .ai-btn-group.loading .ai-gen::before {
    width:24px;
    height:19px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#888 90%,#8880);
    background:
            var(--_g) 0%   50%,
            var(--_g) 50%  50%,
            var(--_g) 100% 50%;
    background-size: calc(100%/4) 50%;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

.admin-style .form-wrapper {
    display:flex;
    align-items:start;
}

.admin-style .form-wrapper input {
    min-width:0;
}